* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  /* ヘッダー */
header{
    width: 100%;
    
}

.header-logo{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    border-bottom: solid 1px black;
}

.header-menu-list{
    text-align: center;
    border-bottom: solid 1px black;
}

.list-item{
    margin: 15px 20px;
    list-style: none;
    display: inline-block;

}
/* メイン */
.main{
    height: auto;
    width: 800px;
    font-size:0;
    margin: 0 auto;
    padding: 50px 0;
}

.box{
      width: 200px;
      height: 200px;
      display: inline-block;
}

.a{
    background-color: #e6ffe9;
}

.b{
    background-color: #cbffd3;
}

.c{
    background-color: #aeffbd;
}

.d{
    background-color: #93ffab;
}

.e{
    background-color: #f3ffd8;
}

.f{
    background-color: #edffbe;
}

.g{
    background-color: #e9ffa5;
}

.h{
    background-color: #e4ff8d;
}

.i{
    background-color: #d9e5ff;
}

.j{
    background-color: #bad3ff;
}

.k{
    background-color: #a4c6ff;
}

.l{
    background-color: #8eb8ff;
}


/* フッター */
footer{
      width: 100%;
      height: 120px;
      background-color: darkgray;
      color: white;
      line-height: 120px;
      text-align: center;
}